.friends-list {
    color: #b9d6ff;
    text-align: center;
}

.friends-list h2 {
    margin-bottom: 15px;
}

.friend-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #4f83ff;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.6);
}

.friend-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.remove-friend-button {
    background-color: #4f83ff;
    color: white;
    font-size: 1em;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: auto;
}

.remove-friend-button:hover {
    background-color: #3a6fbf; /* Darker blue on hover */
}